VITE_FIREBASE_API_KEY= AIzaSyDEQ3U6qu4avO2ufteRMwTFJf6VpzjIPnA
VITE_FIREBASE_AUTH_DOMAIN=noruchatbot.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=noruchatbot    
VITE_FIREBASE_STORAGE_BUCKET=noruchatbot.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=651089646371
VITE_FIREBASE_APP_ID=1:651089646371:web:19689721c17c4016cfb296
VITE_BACKEND_URL=http://localhost:3000
